### RANGKUMAN TEKNIK SAMPLING 
- Populasi merupakan wilayah generalisasi atau keseluruhan dari sesuatu yang sedang dipelajari karakteristiknya. 
- Sampel merupakan bagian dari dari populasi.
- Jadi sampel adalah sebagian dari keseluruhan obyek yang akan diteliti atau dievaluasi yang memiliki karakteristik tertentu dari sebuah populasi.
- Cara menentukan sampel disebut dengan teknik sampling atau teknik penyampelan.

In [1]:
import random
import pandas as pd
from faker import Faker

fake = Faker('id_ID')

names = set()
while len(names) < 50:
    names.add(fake.name())

names = list(names)

cities = ["Jakarta", "Surabaya", "Malang", "Yogyakarta"]
education = ["SD", "SMP", "SMA", "PT"]
jobs = ["Guru", "Dokter", "Insinyur", "Akuntan", "Developer", "Desainer", "Polisi"]
genders = ["Laki-laki", "Perempuan"]

data = []

for name in names:
    item = {
        "Nama": name,
        "Umur": random.randint(18, 65),
        "Kota": random.choice(cities),
        "Pendidikan Terakhir": random.choice(education),
        "Jenis Pekerjaan": random.choice(jobs),
        "Jenis Kelamin": random.choice(genders)
    }
    data.append(item)

df = pd.DataFrame(data)
df.to_csv("sampling.csv", index=False)

In [2]:
from tabulate import tabulate
print(tabulate(df, headers='keys', tablefmt='psql'))

+----+-----------------------------+--------+------------+-----------------------+-------------------+-----------------+
|    | Nama                        |   Umur | Kota       | Pendidikan Terakhir   | Jenis Pekerjaan   | Jenis Kelamin   |
|----+-----------------------------+--------+------------+-----------------------+-------------------+-----------------|
|  0 | Puti Cinta Winarsih, S.H.   |     59 | Yogyakarta | SMA                   | Dokter            | Laki-laki       |
|  1 | H. Darmanto Halim           |     63 | Malang     | SMA                   | Insinyur          | Laki-laki       |
|  2 | Ika Suryono                 |     35 | Yogyakarta | SMP                   | Polisi            | Perempuan       |
|  3 | Mariadi Haryanto            |     64 | Surabaya   | SD                    | Desainer          | Perempuan       |
|  4 | Laras Zulkarnain            |     23 | Surabaya   | SMP                   | Developer         | Perempuan       |
|  5 | Bakiadi Yulianti            |     26 | Jakarta    | SMA                   | Dokter            | Perempuan       |
|  6 | Vino Rahmawati              |     60 | Surabaya   | SD                    | Insinyur          | Perempuan       |
|  7 | Harsana Yolanda, S.Pt       |     19 | Surabaya   | SMP                   | Desainer          | Perempuan       |
|  8 | Shania Hassanah, S.H.       |     64 | Surabaya   | SMA                   | Dokter            | Laki-laki       |
|  9 | T. Rahmat Sihotang, M.Farm  |     24 | Jakarta    | SD                    | Desainer          | Perempuan       |
| 10 | Titi Pradipta               |     53 | Yogyakarta | PT                    | Insinyur          | Laki-laki       |
| 11 | Jail Usada                  |     31 | Malang     | SMA                   | Akuntan           | Perempuan       |
| 12 | Ellis Hidayanto             |     24 | Surabaya   | SMP                   | Developer         | Laki-laki       |
| 13 | Jono Pradipta               |     35 | Yogyakarta | SMA                   | Guru              | Perempuan       |
| 14 | Saka Putra                  |     47 | Yogyakarta | SMA                   | Desainer          | Perempuan       |
| 15 | Drs. Cakrawangsa Wacana     |     25 | Jakarta    | SD                    | Akuntan           | Perempuan       |
| 16 | Dr. Waluyo Yuliarti, S.Pt   |     34 | Yogyakarta | SMA                   | Desainer          | Perempuan       |
| 17 | Ajeng Sitorus               |     32 | Jakarta    | PT                    | Dokter            | Laki-laki       |
| 18 | Bahuraksa Simbolon          |     27 | Malang     | SD                    | Guru              | Laki-laki       |
| 19 | Drs. Padmi Yolanda, M.TI.   |     18 | Yogyakarta | SMA                   | Dokter            | Laki-laki       |
| 20 | Hardana Lazuardi            |     35 | Yogyakarta | SMA                   | Desainer          | Perempuan       |
| 21 | dr. Waluyo Puspasari        |     62 | Surabaya   | SMP                   | Akuntan           | Perempuan       |
| 22 | Wirda Natsir, S.Kom         |     20 | Surabaya   | SD                    | Akuntan           | Perempuan       |
| 23 | Wani Purnawati, S.IP        |     60 | Malang     | PT                    | Polisi            | Perempuan       |
| 24 | Ir. Rahmat Saefullah, S.Kom |     28 | Malang     | SD                    | Developer         | Laki-laki       |
| 25 | Ina Saefullah               |     53 | Malang     | SMA                   | Akuntan           | Perempuan       |
| 26 | Julia Gunawan, M.TI.        |     38 | Surabaya   | SMA                   | Insinyur          | Perempuan       |
| 27 | Dt. Drajat Setiawan         |     19 | Jakarta    | PT                    | Dokter            | Perempuan       |
| 28 | Kemal Sihotang              |     35 | Jakarta    | SMP                   | Dokter            | Laki-laki       |
| 29 | Vivi Samosir                |     28 | Malang     | SMA                   | Desainer          | Perempuan       |
| 30 | Hesti Laksmiwati            |     60 | Surabaya   | PT                    | Developer         | Perempuan       |
| 31 | Putri Puspita               |     62 | Surabaya   | SMP                   | Guru              | Laki-laki       |
| 32 | Bagya Wacana                |     51 | Jakarta    | SMP                   | Dokter            | Perempuan       |
| 33 | Ir. Elisa Mandala           |     47 | Yogyakarta | SMP                   | Desainer          | Perempuan       |
| 34 | R.M. Wakiman Utama          |     25 | Surabaya   | SD                    | Guru              | Laki-laki       |
| 35 | Yessi Farida, S.Pd          |     29 | Malang     | SMP                   | Desainer          | Perempuan       |
| 36 | Cindy Setiawan              |     63 | Yogyakarta | SMA                   | Akuntan           | Perempuan       |
| 37 | Elvin Rahmawati, S.I.Kom    |     25 | Yogyakarta | PT                    | Guru              | Laki-laki       |
| 38 | Drs. Lukman Waluyo, M.Kom.  |     37 | Jakarta    | SMA                   | Insinyur          | Perempuan       |
| 39 | KH. Cahyanto Napitupulu     |     22 | Malang     | SD                    | Desainer          | Laki-laki       |
| 40 | Cut Cinta Palastri          |     25 | Surabaya   | SMP                   | Developer         | Laki-laki       |
| 41 | H. Himawan Dabukke          |     32 | Yogyakarta | SD                    | Guru              | Perempuan       |
| 42 | Diana Hartati               |     49 | Surabaya   | SMA                   | Dokter            | Perempuan       |
| 43 | Fathonah Maryadi            |     39 | Yogyakarta | PT                    | Dokter            | Laki-laki       |
| 44 | Darijan Haryanto, S.I.Kom   |     35 | Jakarta    | PT                    | Akuntan           | Laki-laki       |
| 45 | Tedi Pratiwi                |     44 | Jakarta    | SMA                   | Developer         | Laki-laki       |
| 46 | Tgk. Adinata Kusumo, S.Ked  |     63 | Yogyakarta | SD                    | Polisi            | Perempuan       |
| 47 | Taufan Nababan, S.Sos       |     23 | Malang     | SD                    | Polisi            | Laki-laki       |
| 48 | Dalima Namaga               |     48 | Surabaya   | SMA                   | Developer         | Laki-laki       |
| 49 | Nalar Kusumo                |     55 | Yogyakarta | SD                    | Polisi            | Perempuan       |
+----+-----------------------------+--------+------------+-----------------------+-------------------+-----------------+

### A. Teknik Sampling Probabilitas
- Probability sampling adalah teknik pengambilan sampel yang memberikan peluang yang sama bagi setiap unsur (anggota) populasi untuk dipilih menjadi anggota sampel. 
- Teknik ini merupakan teknik yang memungkinkan peneliti atau evaluator untuk membuat generalisasi dari karakteristik sampel menjadi karakteristik populasi.

#### 1. Simple Random Sampling
Penyampelan acak sederhana, memiliki maksud bahwa sebanyak n sampel diambil dari populasi N dan tiap anggota populasi mempunyai peluang yang sama untuk terambil.  

Terdapat 3 (tiga) cara untuk menentukan sampel dengan mengunakan teknik ini, yaitu:
- Cara undian 
- Mengambil perwakilan dari setiap beberapa baris
- Menggunakan komputer untuk memberi hasil acak

In [3]:
# Contoh mengambil 1 perwakilan untuk setiap 5 baris (total 10 sampel)
sample = []
count = 1
temp = []
for i in range(0, len(df)):
    temp.append(df.iloc[i])
    count += 1

    if count % 5 == 0:
        sample.append(random.choice(temp))
        temp = []
        
print(tabulate(sample, headers='keys', tablefmt='psql'))

+---------------------------+--------+------------+-----------------------+-------------------+-----------------+
| Nama                      |   Umur | Kota       | Pendidikan Terakhir   | Jenis Pekerjaan   | Jenis Kelamin   |
|---------------------------+--------+------------+-----------------------+-------------------+-----------------|
| Puti Cinta Winarsih, S.H. |     59 | Yogyakarta | SMA                   | Dokter            | Laki-laki       |
| Laras Zulkarnain          |     23 | Surabaya   | SMP                   | Developer         | Perempuan       |
| Jail Usada                |     31 | Malang     | SMA                   | Akuntan           | Perempuan       |
| Ajeng Sitorus             |     32 | Jakarta    | PT                    | Dokter            | Laki-laki       |
| dr. Waluyo Puspasari      |     62 | Surabaya   | SMP                   | Akuntan           | Perempuan       |
| Julia Gunawan, M.TI.      |     38 | Surabaya   | SMA                   | Insinyur          | Perempuan       |
| Ir. Elisa Mandala         |     47 | Yogyakarta | SMP                   | Desainer          | Perempuan       |
| Cindy Setiawan            |     63 | Yogyakarta | SMA                   | Akuntan           | Perempuan       |
| Fathonah Maryadi          |     39 | Yogyakarta | PT                    | Dokter            | Laki-laki       |
| Darijan Haryanto, S.I.Kom |     35 | Jakarta    | PT                    | Akuntan           | Laki-laki       |
+---------------------------+--------+------------+-----------------------+-------------------+-----------------+

In [4]:
# Contoh mengambil 10 sampel secara random
sample = random.sample(df.to_dict('records'), 10)
print(tabulate(sample, headers='keys', tablefmt='psql'))

+----------------------------+--------+------------+-----------------------+-------------------+-----------------+
| Nama                       |   Umur | Kota       | Pendidikan Terakhir   | Jenis Pekerjaan   | Jenis Kelamin   |
|----------------------------+--------+------------+-----------------------+-------------------+-----------------|
| Drs. Lukman Waluyo, M.Kom. |     37 | Jakarta    | SMA                   | Insinyur          | Perempuan       |
| Bakiadi Yulianti           |     26 | Jakarta    | SMA                   | Dokter            | Perempuan       |
| Elvin Rahmawati, S.I.Kom   |     25 | Yogyakarta | PT                    | Guru              | Laki-laki       |
| Ellis Hidayanto            |     24 | Surabaya   | SMP                   | Developer         | Laki-laki       |
| KH. Cahyanto Napitupulu    |     22 | Malang     | SD                    | Desainer          | Laki-laki       |
| T. Rahmat Sihotang, M.Farm |     24 | Jakarta    | SD                    | Desainer          | Perempuan       |
| Jono Pradipta              |     35 | Yogyakarta | SMA                   | Guru              | Perempuan       |
| Diana Hartati              |     49 | Surabaya   | SMA                   | Dokter            | Perempuan       |
| Saka Putra                 |     47 | Yogyakarta | SMA                   | Desainer          | Perempuan       |
| Cut Cinta Palastri         |     25 | Surabaya   | SMP                   | Developer         | Laki-laki       |
+----------------------------+--------+------------+-----------------------+-------------------+-----------------+

#### 2. Stratified Random Sampling
Pada penyampelan jenis ini, anggota populasi dikelompokkan berdasarkan stratanya, misal tinggi, sedang, dan rendah. Kemudian dipilih sampel yang mewakili masing-masing strata.

Langkah-langkah dalam menentukan Stratified Random sampling: 
- Menentukan data pendukung tentang populasi yang diambil berikut strata-strata yang ada di dalamnya
- Mengklasifikasikan populasi ke dalam grup atau strata yang saling lepas
- Menentukan ukuran sample untuk tiap stratum
- Memilih secara acak setiap stratum dengan menggunakan simple random sampling

In [5]:
# Mensampling berdasarkan pendidikan terakhir
sd = []
smp = []
sma = []
pt = []

for i in range(len(df)):
    if df.iloc[i]['Pendidikan Terakhir'] == 'SD':
        sd.append(df.iloc[i])
    elif df.iloc[i]['Pendidikan Terakhir'] == 'SMP':
        smp.append(df.iloc[i])
    elif df.iloc[i]['Pendidikan Terakhir'] == 'SMA':
        sma.append(df.iloc[i])
    elif df.iloc[i]['Pendidikan Terakhir'] == 'PT':
        pt.append(df.iloc[i])

print("Jumlah lulusan SD: ", len(sd))
print("Jumlah lulusan SMP: ", len(smp))
print("Jumlah lulusan SMA: ", len(sma))
print("Jumlah lulusan PT: ", len(pt))

# ambil 20% dari setiap jenjang pendidikan
sd_sample = random.sample(sd, int(len(sd) * 0.2))
smp_sample = random.sample(smp, int(len(smp) * 0.2))
sma_sample = random.sample(sma, int(len(sma) * 0.2))
pt_sample = random.sample(pt, int(len(pt) * 0.2))

print("\nJumlah sample SD: ", len(sd_sample))
print("Jumlah sample SMP: ", len(smp_sample))
print("Jumlah sample SMA: ", len(sma_sample))
print("Jumlah sample PT: ", len(pt_sample))

print("\nHasil sample: ")
sample = sd_sample + smp_sample + sma_sample + pt_sample
print(tabulate(sample, headers='keys', tablefmt='psql'))

Jumlah lulusan SD:  13
Jumlah lulusan SMP:  11
Jumlah lulusan SMA:  18
Jumlah lulusan PT:  8

Jumlah sample SD:  2
Jumlah sample SMP:  2
Jumlah sample SMA:  3
Jumlah sample PT:  1

Hasil sample:
+---------------------------+--------+------------+-----------------------+-------------------+-----------------+
| Nama                      |   Umur | Kota       | Pendidikan Terakhir   | Jenis Pekerjaan   | Jenis Kelamin   |
|---------------------------+--------+------------+-----------------------+-------------------+-----------------|
| KH. Cahyanto Napitupulu   |     22 | Malang     | SD                    | Desainer          | Laki-laki       |
| Bahuraksa Simbolon        |     27 | Malang     | SD                    | Guru              | Laki-laki       |
| Yessi Farida, S.Pd        |     29 | Malang     | SMP                   | Desainer          | Perempuan       |
| Ika Suryono               |     35 | Yogyakarta | SMP                   | Polisi            | Perempuan       |
| Puti Cinta Winarsih, S.H. |     59 | Yogyakarta | SMA                   | Dokter            | Laki-laki       |
| Dr. Waluyo Yuliarti, S.Pt |     34 | Yogyakarta | SMA                   | Desainer          | Perempuan       |
| Saka Putra                |     47 | Yogyakarta | SMA                   | Desainer          | Perempuan       |
| Dt. Drajat Setiawan       |     19 | Jakarta    | PT                    | Dokter            | Perempuan       |
+---------------------------+--------+------------+-----------------------+-------------------+-----------------+

#### 3. Sistematic Sampling 
Penyampelan dengan cara ini dilakukan dengan mengurutkan terlebih dahulu semua anggota, kemudian dipili urutan tertentu untuk dijadikan anggota sampel.

In [6]:
sorted_df = df.sort_values(by='Nama')
print(tabulate(sorted_df, headers='keys', tablefmt='psql'))

+----+-----------------------------+--------+------------+-----------------------+-------------------+-----------------+
|    | Nama                        |   Umur | Kota       | Pendidikan Terakhir   | Jenis Pekerjaan   | Jenis Kelamin   |
|----+-----------------------------+--------+------------+-----------------------+-------------------+-----------------|
| 17 | Ajeng Sitorus               |     32 | Jakarta    | PT                    | Dokter            | Laki-laki       |
| 32 | Bagya Wacana                |     51 | Jakarta    | SMP                   | Dokter            | Perempuan       |
| 18 | Bahuraksa Simbolon          |     27 | Malang     | SD                    | Guru              | Laki-laki       |
|  5 | Bakiadi Yulianti            |     26 | Jakarta    | SMA                   | Dokter            | Perempuan       |
| 36 | Cindy Setiawan              |     63 | Yogyakarta | SMA                   | Akuntan           | Perempuan       |
| 40 | Cut Cinta Palastri          |     25 | Surabaya   | SMP                   | Developer         | Laki-laki       |
| 48 | Dalima Namaga               |     48 | Surabaya   | SMA                   | Developer         | Laki-laki       |
| 44 | Darijan Haryanto, S.I.Kom   |     35 | Jakarta    | PT                    | Akuntan           | Laki-laki       |
| 42 | Diana Hartati               |     49 | Surabaya   | SMA                   | Dokter            | Perempuan       |
| 16 | Dr. Waluyo Yuliarti, S.Pt   |     34 | Yogyakarta | SMA                   | Desainer          | Perempuan       |
| 15 | Drs. Cakrawangsa Wacana     |     25 | Jakarta    | SD                    | Akuntan           | Perempuan       |
| 38 | Drs. Lukman Waluyo, M.Kom.  |     37 | Jakarta    | SMA                   | Insinyur          | Perempuan       |
| 19 | Drs. Padmi Yolanda, M.TI.   |     18 | Yogyakarta | SMA                   | Dokter            | Laki-laki       |
| 27 | Dt. Drajat Setiawan         |     19 | Jakarta    | PT                    | Dokter            | Perempuan       |
| 12 | Ellis Hidayanto             |     24 | Surabaya   | SMP                   | Developer         | Laki-laki       |
| 37 | Elvin Rahmawati, S.I.Kom    |     25 | Yogyakarta | PT                    | Guru              | Laki-laki       |
| 43 | Fathonah Maryadi            |     39 | Yogyakarta | PT                    | Dokter            | Laki-laki       |
|  1 | H. Darmanto Halim           |     63 | Malang     | SMA                   | Insinyur          | Laki-laki       |
| 41 | H. Himawan Dabukke          |     32 | Yogyakarta | SD                    | Guru              | Perempuan       |
| 20 | Hardana Lazuardi            |     35 | Yogyakarta | SMA                   | Desainer          | Perempuan       |
|  7 | Harsana Yolanda, S.Pt       |     19 | Surabaya   | SMP                   | Desainer          | Perempuan       |
| 30 | Hesti Laksmiwati            |     60 | Surabaya   | PT                    | Developer         | Perempuan       |
|  2 | Ika Suryono                 |     35 | Yogyakarta | SMP                   | Polisi            | Perempuan       |
| 25 | Ina Saefullah               |     53 | Malang     | SMA                   | Akuntan           | Perempuan       |
| 33 | Ir. Elisa Mandala           |     47 | Yogyakarta | SMP                   | Desainer          | Perempuan       |
| 24 | Ir. Rahmat Saefullah, S.Kom |     28 | Malang     | SD                    | Developer         | Laki-laki       |
| 11 | Jail Usada                  |     31 | Malang     | SMA                   | Akuntan           | Perempuan       |
| 13 | Jono Pradipta               |     35 | Yogyakarta | SMA                   | Guru              | Perempuan       |
| 26 | Julia Gunawan, M.TI.        |     38 | Surabaya   | SMA                   | Insinyur          | Perempuan       |
| 39 | KH. Cahyanto Napitupulu     |     22 | Malang     | SD                    | Desainer          | Laki-laki       |
| 28 | Kemal Sihotang              |     35 | Jakarta    | SMP                   | Dokter            | Laki-laki       |
|  4 | Laras Zulkarnain            |     23 | Surabaya   | SMP                   | Developer         | Perempuan       |
|  3 | Mariadi Haryanto            |     64 | Surabaya   | SD                    | Desainer          | Perempuan       |
| 49 | Nalar Kusumo                |     55 | Yogyakarta | SD                    | Polisi            | Perempuan       |
|  0 | Puti Cinta Winarsih, S.H.   |     59 | Yogyakarta | SMA                   | Dokter            | Laki-laki       |
| 31 | Putri Puspita               |     62 | Surabaya   | SMP                   | Guru              | Laki-laki       |
| 34 | R.M. Wakiman Utama          |     25 | Surabaya   | SD                    | Guru              | Laki-laki       |
| 14 | Saka Putra                  |     47 | Yogyakarta | SMA                   | Desainer          | Perempuan       |
|  8 | Shania Hassanah, S.H.       |     64 | Surabaya   | SMA                   | Dokter            | Laki-laki       |
|  9 | T. Rahmat Sihotang, M.Farm  |     24 | Jakarta    | SD                    | Desainer          | Perempuan       |
| 47 | Taufan Nababan, S.Sos       |     23 | Malang     | SD                    | Polisi            | Laki-laki       |
| 45 | Tedi Pratiwi                |     44 | Jakarta    | SMA                   | Developer         | Laki-laki       |
| 46 | Tgk. Adinata Kusumo, S.Ked  |     63 | Yogyakarta | SD                    | Polisi            | Perempuan       |
| 10 | Titi Pradipta               |     53 | Yogyakarta | PT                    | Insinyur          | Laki-laki       |
|  6 | Vino Rahmawati              |     60 | Surabaya   | SD                    | Insinyur          | Perempuan       |
| 29 | Vivi Samosir                |     28 | Malang     | SMA                   | Desainer          | Perempuan       |
| 23 | Wani Purnawati, S.IP        |     60 | Malang     | PT                    | Polisi            | Perempuan       |
| 22 | Wirda Natsir, S.Kom         |     20 | Surabaya   | SD                    | Akuntan           | Perempuan       |
| 35 | Yessi Farida, S.Pd          |     29 | Malang     | SMP                   | Desainer          | Perempuan       |
| 21 | dr. Waluyo Puspasari        |     62 | Surabaya   | SMP                   | Akuntan           | Perempuan       |
+----+-----------------------------+--------+------------+-----------------------+-------------------+-----------------+

In [7]:
# Mengambil sampel setiap kelipatan 5
sample = []
for i in range(0, len(sorted_df), 5):
    sample.append(sorted_df.iloc[i])

print(tabulate(sample, headers='keys', tablefmt='psql'))

+-----------------------------+--------+------------+-----------------------+-------------------+-----------------+
| Nama                        |   Umur | Kota       | Pendidikan Terakhir   | Jenis Pekerjaan   | Jenis Kelamin   |
|-----------------------------+--------+------------+-----------------------+-------------------+-----------------|
| Ajeng Sitorus               |     32 | Jakarta    | PT                    | Dokter            | Laki-laki       |
| Cut Cinta Palastri          |     25 | Surabaya   | SMP                   | Developer         | Laki-laki       |
| Drs. Cakrawangsa Wacana     |     25 | Jakarta    | SD                    | Akuntan           | Perempuan       |
| Elvin Rahmawati, S.I.Kom    |     25 | Yogyakarta | PT                    | Guru              | Laki-laki       |
| Harsana Yolanda, S.Pt       |     19 | Surabaya   | SMP                   | Desainer          | Perempuan       |
| Ir. Rahmat Saefullah, S.Kom |     28 | Malang     | SD                    | Developer         | Laki-laki       |
| Kemal Sihotang              |     35 | Jakarta    | SMP                   | Dokter            | Laki-laki       |
| Putri Puspita               |     62 | Surabaya   | SMP                   | Guru              | Laki-laki       |
| Taufan Nababan, S.Sos       |     23 | Malang     | SD                    | Polisi            | Laki-laki       |
| Vivi Samosir                |     28 | Malang     | SMA                   | Desainer          | Perempuan       |
+-----------------------------+--------+------------+-----------------------+-------------------+-----------------+

#### 4. Cluster Sampling 
Pada penyampelan jenis ini, populasi dibagi menjadi wilayah atau klaster. Jika terpilih klasternya, seluruh anggota dalam klaster tersebut yang menjadi sampel. 

Langkah-langkah dalam pengambilan sample dengan cluster sampling:
- Menentukan cluster-clusternya  
- Menentukan banyak cluster yang akan dijadikan sample, misal n cluster 
- Memilih secara acak cluster 
- Semua anggota yang terdapat dalam klaster yang terpilih merupakan sampel

In [8]:
# Misalkan terdapat 5 cluster
temp = df
c1 = []
c2 = []
c3 = []
c4 = []
c5 = []
clusters = [c1, c2, c3, c4, c5]

fill  = 0
count = 0
for i in range(len(temp)):
    if count == 5:
        count = 0
        fill += 1
        
    if fill <= 4:    
        clusters[fill].append(temp.iloc[i])
    count += 1

sample = random.choice(clusters)
print(tabulate(sample, headers='keys', tablefmt='psql'))

+-----------------------------+--------+------------+-----------------------+-------------------+-----------------+
| Nama                        |   Umur | Kota       | Pendidikan Terakhir   | Jenis Pekerjaan   | Jenis Kelamin   |
|-----------------------------+--------+------------+-----------------------+-------------------+-----------------|
| Hardana Lazuardi            |     35 | Yogyakarta | SMA                   | Desainer          | Perempuan       |
| dr. Waluyo Puspasari        |     62 | Surabaya   | SMP                   | Akuntan           | Perempuan       |
| Wirda Natsir, S.Kom         |     20 | Surabaya   | SD                    | Akuntan           | Perempuan       |
| Wani Purnawati, S.IP        |     60 | Malang     | PT                    | Polisi            | Perempuan       |
| Ir. Rahmat Saefullah, S.Kom |     28 | Malang     | SD                    | Developer         | Laki-laki       |
+-----------------------------+--------+------------+-----------------------+-------------------+-----------------+

### B. Non Probability Sampling 
Nonprobability sampling adalah teknik pengambilan sampel yang tidak memberi peluang atau kesempatan sama bagi setiap unsur atau anggota populasi yang dipilih menjadi sampel. Teknik pengambilan sampel ini diantaranya sampling incidental, sampling bertujuan, sampling bola salju (snowball sampling), dan sampling kuota. Non probability sampling ini tidak bisa digunakan untuk membuat generalisasi.

#### 1. Sampling Incidental
Nonprobability sampling adalah teknik pengambilan sampel yang tidak memberi peluang atau kesempatan sama bagi setiap unsur atau anggota populasi yang dipilih menjadi sampel. Teknik pengambilan sampel ini diantaranya sampling incidental, sampling bertujuan, sampling bola salju (snowball sampling), dan sampling kuota. Non probability sampling ini tidak bisa digunakan untuk membuat generalisasi.

#### 2. Sampling purposive 
Teknik penentuan sampel berdasarkan pertimbangan peneliti atau evaluator tentang sampel mana yang paling bermanfaat dan representative (Babbie, 2004: 183). 
Terkadang sampel yang akan diambil ditentukan berdasarkan pengetahuan tentang suatu populasi, anggota-anggotanya dan tujuan dari penelitian. Jenis sampel ini sangat baik jika dimanfaatkan untuk studi penjajagan (studi awal untuk penelitian atau evaluasi).

In [9]:
# Mengambil sampel hanya yang berprofesi sebagai Polisi
sample = []

for i in range(len(df)):
    if df.iloc[i]['Jenis Pekerjaan'] == 'Polisi':
        sample.append(df.iloc[i])

print(tabulate(sample, headers='keys', tablefmt='psql'))

+----------------------------+--------+------------+-----------------------+-------------------+-----------------+
| Nama                       |   Umur | Kota       | Pendidikan Terakhir   | Jenis Pekerjaan   | Jenis Kelamin   |
|----------------------------+--------+------------+-----------------------+-------------------+-----------------|
| Ika Suryono                |     35 | Yogyakarta | SMP                   | Polisi            | Perempuan       |
| Wani Purnawati, S.IP       |     60 | Malang     | PT                    | Polisi            | Perempuan       |
| Tgk. Adinata Kusumo, S.Ked |     63 | Yogyakarta | SD                    | Polisi            | Perempuan       |
| Taufan Nababan, S.Sos      |     23 | Malang     | SD                    | Polisi            | Laki-laki       |
| Nalar Kusumo               |     55 | Yogyakarta | SD                    | Polisi            | Perempuan       |
+----------------------------+--------+------------+-----------------------+-------------------+-----------------+

#### 3. Sampling Bola Salju
Sampling snowball dapat dilakukan jika keberadaan dari suatu populasi sulit untuk ditemukan. Dengan kata lain, cara ini banyak dipakai ketika peneliti atau evaluator tidak banyak tahu tentang populasi penelitian aau evaluasinya. Pada sampling bola salju, peneliti mengumpulkan data dari beberapa sampel yang dapat ditemukan oleh peneliti sendiri, selanjutnya peneliti meminta individu yang telah dijadikan sampel tersebut untuk memberitahukan keberadaan anggota yang lainnya yang tidak dapat ditemukan oleh peneliti untuk dapat melengkapi data (Babbie, 2004: 184).

In [10]:
# Misalkan memilih 3 orang acak, dan 3 orang tersebut memberi rekomendasi 3 orang lain di kota yg bersangkutan

# Memilih 3 orang acak
random_people = random.sample(df.to_dict('records'), 3)
print("Memilih 3 orang acak:")
print(tabulate(random_people, headers='keys', tablefmt='psql'))

recommendations = []
for person in random_people:
    city = person['Kota']
    same_city_people = df[(df['Kota'] == city) & (df['Nama'] != person['Nama'])]
    recommended_people = same_city_people.sample(3, replace=True).to_dict('records')

    for recommended in recommended_people:
        recommended['Saran'] = person['Nama'].split(' ')[1]

    recommendations.extend(recommended_people)

sample = random_people + recommendations

# Hasil 
print("Sample hasil rekomendasi:")
print(tabulate(sample, headers='keys', tablefmt='psql'))

Memilih 3 orang acak:
+----------------------------+--------+------------+-----------------------+-------------------+-----------------+
| Nama                       |   Umur | Kota       | Pendidikan Terakhir   | Jenis Pekerjaan   | Jenis Kelamin   |
|----------------------------+--------+------------+-----------------------+-------------------+-----------------|
| Drs. Lukman Waluyo, M.Kom. |     37 | Jakarta    | SMA                   | Insinyur          | Perempuan       |
| H. Himawan Dabukke         |     32 | Yogyakarta | SD                    | Guru              | Perempuan       |
| Tgk. Adinata Kusumo, S.Ked |     63 | Yogyakarta | SD                    | Polisi            | Perempuan       |
+----------------------------+--------+------------+-----------------------+-------------------+-----------------+
Sample hasil rekomendasi:
+----------------------------+--------+------------+-----------------------+-------------------+-----------------+---------+
| Nama                       |   Umur | Kota       | Pendidikan Terakhir   | Jenis Pekerjaan   | Jenis Kelamin   | Saran   |
|----------------------------+--------+------------+-----------------------+-------------------+-----------------+---------|
| Drs. Lukman Waluyo, M.Kom. |     37 | Jakarta    | SMA                   | Insinyur          | Perempuan       |         |
| H. Himawan Dabukke         |     32 | Yogyakarta | SD                    | Guru              | Perempuan       |         |
| Tgk. Adinata Kusumo, S.Ked |     63 | Yogyakarta | SD                    | Polisi            | Perempuan       |         |
| T. Rahmat Sihotang, M.Farm |     24 | Jakarta    | SD                    | Desainer          | Perempuan       | Lukman  |
| Darijan Haryanto, S.I.Kom  |     35 | Jakarta    | PT                    | Akuntan           | Laki-laki       | Lukman  |
| Dt. Drajat Setiawan        |     19 | Jakarta    | PT                    | Dokter            | Perempuan       | Lukman  |
| Puti Cinta Winarsih, S.H.  |     59 | Yogyakarta | SMA                   | Dokter            | Laki-laki       | Himawan |
| Dr. Waluyo Yuliarti, S.Pt  |     34 | Yogyakarta | SMA                   | Desainer          | Perempuan       | Himawan |
| Dr. Waluyo Yuliarti, S.Pt  |     34 | Yogyakarta | SMA                   | Desainer          | Perempuan       | Himawan |
| Jono Pradipta              |     35 | Yogyakarta | SMA                   | Guru              | Perempuan       | Adinata |
| Ika Suryono                |     35 | Yogyakarta | SMP                   | Polisi            | Perempuan       | Adinata |
| Fathonah Maryadi           |     39 | Yogyakarta | PT                    | Dokter            | Laki-laki       | Adinata |
+----------------------------+--------+------------+-----------------------+-------------------+-----------------+---------+

#### 4. Sampling Quota 
Teknik sampling kuota adalah teknik menentukan sampel dari populasi yang mempunyai ciri-ciri tertentu sampai jumlah (kuota) yang diinginkan.  Pada sampling kuota, dimulai dengan membuat tabel atau matriks yang berisi penjabaran karakteristik dari populasi yang ingin dicapai atau karakteristik populasi yang sesuai dengan tujuan dari penelitian untuk selanjutnya ditentukan sampel yang memenuhi ciri-ciri dari populasi tersebut.

In [11]:
# Misalkan mengambil 3 sampel untuk setiap kota
sample = []

for city in cities:
    city_df = df[df['Kota'] == city]
    quota = 3
    city_sample = random.sample(city_df.to_dict('records'), quota)
    for selec in city_sample:
        sample.append(selec)

print(tabulate(sample, headers='keys', tablefmt='psql'))

+---------------------------+--------+------------+-----------------------+-------------------+-----------------+
| Nama                      |   Umur | Kota       | Pendidikan Terakhir   | Jenis Pekerjaan   | Jenis Kelamin   |
|---------------------------+--------+------------+-----------------------+-------------------+-----------------|
| Bagya Wacana              |     51 | Jakarta    | SMP                   | Dokter            | Perempuan       |
| Darijan Haryanto, S.I.Kom |     35 | Jakarta    | PT                    | Akuntan           | Laki-laki       |
| Ajeng Sitorus             |     32 | Jakarta    | PT                    | Dokter            | Laki-laki       |
| Dalima Namaga             |     48 | Surabaya   | SMA                   | Developer         | Laki-laki       |
| Laras Zulkarnain          |     23 | Surabaya   | SMP                   | Developer         | Perempuan       |
| Putri Puspita             |     62 | Surabaya   | SMP                   | Guru              | Laki-laki       |
| Wani Purnawati, S.IP      |     60 | Malang     | PT                    | Polisi            | Perempuan       |
| Bahuraksa Simbolon        |     27 | Malang     | SD                    | Guru              | Laki-laki       |
| KH. Cahyanto Napitupulu   |     22 | Malang     | SD                    | Desainer          | Laki-laki       |
| Elvin Rahmawati, S.I.Kom  |     25 | Yogyakarta | PT                    | Guru              | Laki-laki       |
| Dr. Waluyo Yuliarti, S.Pt |     34 | Yogyakarta | SMA                   | Desainer          | Perempuan       |
| Titi Pradipta             |     53 | Yogyakarta | PT                    | Insinyur          | Laki-laki       |
+---------------------------+--------+------------+-----------------------+-------------------+-----------------+